$color--contrast--secondary: #FFE3DD;
$color--contrast: #FF7355;
$colorGreen: #52A754;
$colorPurple: #6B2ABC;
$colorRed: #FF2045;
$light--background--color-background: #F9F9F9;
$light--background--color-background-content: #FFFFFF;
$light--text--color-text-primary: #2C2D2E;
$light--text--color-text-secondary: #87898F;
$on-surface-day--primary: #000000;
$main--color--white: #F3F3F3;
$main--color--black: #25314C;

$media-xl: 1440px;
$media-xl-1: 1439.98px;

$media-lg: 1280px;
$media-lg-1: 1279.98px;

$media-md: 1024px;
$media-md-1: 1023.98px;

$media-sm: 768px;
$media-sm-1: 767.98px;

$font-family: Inter;

